@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #FFF;
  --background: #0A0A0A;
  --primary: theme(colors.primary);
  --primary-hover: #0F62FE;
  --foreground-hover: theme(colors.foregroundHover);
  --tooltip: theme(colors.lightgray);
  --container: theme(colors.container);
  --input-outline: theme(colors.darkgray);
  --button-outline: #8F8F8F;
  --danger: theme(colors.danger);
  --shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.20);
}

.bg-gradient {
  opacity: 0;
  animation: bg-fade 10s forwards;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  display: flex;
  flex-direction: column;
}
main {
  margin: 1rem;
  display: flex;
  max-width: 100%;
}
p {
  font-size: 0.875rem;
}
h1 {
  font-size: 1.625rem; /* 26px */
  font-weight: 600;
  line-height: 23px; /* 88.462% */
  color: var(--foreground);
  letter-spacing: -0.44px;
  margin-bottom: 1rem;
}
h3 {
  font-size: 1em;
  font-weight: 400;
  line-height: 23px; /* 128.571% */
  color: var(--foreground);
  letter-spacing: -0.44px;
  margin-bottom: 1rem;
}
.tooltip {
  color: var(--tooltip);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: -0.44px;
}
input, textarea {
  background-color: var(--container);
  color: var(--foreground);
  padding: 0.5rem;
  border: 1px solid var(--input-outline);
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  font-size: 12px;
}
input::placeholder, textarea::placeholder {
  color: var(--tooltip);
  opacity: 0.4;
}
input:invalid:not(:placeholder-shown), textarea:invalid:not(:placeholder-shown) {
  border-color: var(--danger);
}
button, .button {
  color: var(--foreground);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 23px; /* 164.286% */
  letter-spacing: -0.44px;
  padding: 4px 22px;
  border-radius: 7px;
  border: 1px solid var(--button-outline);
  box-shadow: var(--shadow);
  width: min-content;
  transition: all 0.3s;
}
button:disabled {
  opacity: 0.5;
  color: var(--tooltip);
  box-shadow: none;
  cursor: not-allowed;
}

.blueLink {
  color: var(--primary);
  text-decoration: underline 1px;
  font-weight: 300;
}


/* Scrollbar - Begin */

/* WebKit browsers */
textarea::-webkit-scrollbar {
  width: 8px; /* Adjust as needed */
}
textarea::-webkit-scrollbar-track {
  background: transparent; /* Hide the background */
}
textarea::-webkit-scrollbar-thumb {
  background: var(--tooltip); /* Style the thumb */
  border-radius: 4px; /* Optional: make the thumb rounded */
}
textarea::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.7); /* Optional: style the thumb on hover */
}

/* Firefox */
textarea {
  scrollbar-width: thin; /* Makes the scrollbar thinner */
  scrollbar-color: var(--tooltip) transparent; /* Style the thumb and hide the track */
}

/* Scrollbar - End */


.shake {
  animation: shake 0.3s forwards;
  transition: all;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@keyframes bg-fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Bob up and down */
@keyframes float {
  0%, 100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-15px);
  }
}