/* text-foreground flex-1 items-center content-center text-center border-switcher-active border */
@reference "../app/globals.css";

:root {
  --color-switcher-active: #E5E5E5;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-switcher-active: #171717;
  }
}
    
header {
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: -1;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%);
  }
}

.links {
  @apply bg-card-bg border flex h-16 p-2 rounded-full border-transparent;
  position: relative;
  overflow: hidden;

  background: linear-gradient(to bottom, var(--color-card-bg), var(--color-card-bg)) padding-box,
              linear-gradient(to bottom, var(--color-border-light), var(--color-border-dark)) border-box;

  &:not(:has(.switcher:hover)) .switcher.active {
    anchor-name: --active, --hover;     /* only when no hover exists */
  }
}

.switcher-active {
  @apply h-11 rounded-full border border-transparent;
  position: absolute;
  z-index: 1;
  pointer-events: none;

  top: 50%;
  /* transform: translateY(-50%); */

  background: linear-gradient(to bottom, var(--color-switcher-active), var(--color-switcher-active)) padding-box,
                linear-gradient(to bottom, hsl(from var(--color-accent) h s calc(l + 10)), hsl(from var(--color-accent) h s calc(l - 10))) border-box;

  left: anchor(--active left);
  right: anchor(--active right);

  transition: left 0.3s ease, right 0.3s ease;

  transform: translateY(-50%);
}

.links a {
  @apply text-foreground border border-transparent flex-1 items-center content-center text-center rounded-full w-25;
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease;
  
  &.active {
    anchor-name: --active;
  }

  &:active {
    transform: scale(0.95);
  }

  &:hover:not(.active) {
    anchor-name: --hover;
  }
}

.switcher-hover {
  @apply h-11 rounded-full;
  position: absolute;
  z-index: 0;
  pointer-events: none;

  top: 50%;
  transform: translateY(-50%);

  box-shadow: 0 0 20px var(--color-accent);
  background: linear-gradient(to bottom, hsl(from var(--color-border-light) h s calc(l + 20)), var(--color-border-light));
  opacity: 0.1;

  /* span between active and hovered */
  left:  min(anchor(--active left),  anchor(--hover left));
  right: min(anchor(--active right), anchor(--hover right));

  transition: left 0.3s ease, right 0.3s ease;
}
